.photo-grid {
  margin: 0 48px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-gap: 16px;
}

@media screen and (max-width: 768px) {
  .photo-grid {
    margin: 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    margin: 0 16px;
  }
}
