.footer__list-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer__list-links {
    flex-direction: column;
    margin-left: 16px;
  }
}
