.cover {
  width: 100%;
  max-width: 1184px;
  margin: 92px auto;
  position: relative;
}

.cover::before {
  display: block;
  content: "";
  background: url('../../images/cover-trains.jpg') no-repeat;
  background-size: cover;
  padding-bottom: 62.5%;
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 88px auto;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin: 64px auto;
  }
}
